.news-section {
    &__content {
        &--section-1 {
            display: grid;
            grid-template-columns: 1fr 350px;
        }
        &--section-2 {
            width: 100%;
        }

        @media screen and (max-width: 950px) {
            &--section-1 .tab-card {
                display: none;
            }
        }
    }
}
