.header {
    position: relative;
    width: 100%;
    background-color: #231f20;
    &__content {
        display: grid;
        gap: 44px;
        grid-template-columns: auto 1fr;
        padding: 20px;
        align-items: center;
        height: 100px;
        &_logo {
            img {
                width: 55px;
            }
        }
        &__mobile-nav {
            display: none;
        }
        &_nav {
            &--menus {
                color: #ffffff;
                display: flex;
                &_menu {
                    margin-right: 30px;
                    display: flex;

                    .menu_title {
                        cursor: pointer;
                        font-weight: 500;
                        &:hover {
                            color: #ffcb0a;
                        }
                        &--has-more {
                            margin-left: 2px;
                            display: flex;
                        }
                    }
                }
            }
        }
        .menu_dropdown {
            position: absolute;
            top: 102px;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 4;
            &--options {
                background-color: white;
                padding: 20px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                .drop-item {
                    border-radius: 20px;
                    background: #ffcb0a1c;
                    padding: 20px 22px 20px 44px;
                    > p:first-child {
                        color: #ffcb0a;
                        margin-bottom: 10px;
                        text-transform: capitalize;
                    }
                    p:nth-child(2) {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 20px;
                    }
                }
            }
            &_footer {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff5ce;
                background-image: url('https://global-uploads.webflow.com/5fad86e1f5867747a5250efa/6024031efd63c59c0b978629_scribble-5.svg');
                background-position: 100% 50%;
                background-size: auto;
                background-repeat: no-repeat;
            }
        }
    }
    @media screen and (max-width: 1080px) {
        background-color: white;
        border-bottom: 1px solid #4455671c;
        .menu_dropdown {
            display: none;
        }
        &__content {
            &_nav--menus {
                display: none;
            }
            &__mobile-nav {
                display: flex;
                justify-content: flex-end;
                .hamburger {
                    padding: 15px;
                    border-radius: 10px;
                    background-color: black;
                    svg {
                        display: flex;
                    }
                    &--active {
                        background-color: #ffcb0a;
                    }
                }
            }
        }
    }
}
