*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px dotted #6666d7;
}

body {
  margin: 0;
  font-family: Inter,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}
